.header {
  width: 100%;
  text-align: center;
  background-color: #f03e3e;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 0px 18px 7px #fafafa59;
  color: #ffffff;
  a {
    color: #ffffff;
  }
  h1 {
    margin: 0;
  }
}
